examples/serialmqtt.json
[{"id":"71191b949e1c1de2","type":"serial in","z":"c513a2fb.133e3","name":"Vallox","serial":"516385de63b1bdd7","x":210,"y":80,"wires":[["dcb19d62ef3016a2","da54810fd8f25843"]]},{"id":"dcb19d62ef3016a2","type":"mqtt out","z":"c513a2fb.133e3","name":"","topic":"Vallox.RX","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1e5185b63e31430d","x":400,"y":80,"wires":[]},{"id":"1f2fe93d9bdcc5fd","type":"mqtt in","z":"c513a2fb.133e3","name":"","topic":"Vallox.TX","qos":"2","datatype":"auto-detect","broker":"1e5185b63e31430d","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":200,"wires":[["cc06349d23f1cd4a","438de7b107bf4bb7"]]},{"id":"cc06349d23f1cd4a","type":"debug","z":"c513a2fb.133e3","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":260,"wires":[]},{"id":"da54810fd8f25843","type":"debug","z":"c513a2fb.133e3","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"653c7e07bd9b69f3","type":"serial out","z":"c513a2fb.133e3","name":"Vallox","serial":"516385de63b1bdd7","x":590,"y":200,"wires":[]},{"id":"438de7b107bf4bb7","type":"function","z":"c513a2fb.133e3","name":"convert to buffer","func":"// this must be done in order to avoid that the serial\n// node encodes the message using UTF-8\nlet buffer = Buffer.from(msg.payload);\nmsg = {\n    payload : buffer\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["653c7e07bd9b69f3"]]},{"id":"516385de63b1bdd7","type":"serial-port","serialport":"COM17","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"0x01","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"6","bin":"bin","out":"count","addchar":"","responsetimeout":"1000"},{"id":"1e5185b63e31430d","type":"mqtt-broker","name":"","broker":"unimatrix.fritz.box","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]