examples/vallox.json
[{"id":"d118e3200ed3a077","type":"mqtt in","z":"b25784ff8a20bc53","name":"","topic":"Vallox.RX","qos":"2","datatype":"auto-detect","broker":"fab3eeb5b50ff694","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":180,"wires":[["9b978b828aaf33d6"]]},{"id":"6864f0c886d0da87","type":"debug","z":"b25784ff8a20bc53","name":"error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"9b978b828aaf33d6","type":"valloxrx","z":"b25784ff8a20bc53","description":"","x":320,"y":180,"wires":[["6d5620518a1e27db","4a68835f7baecd0c"],["6864f0c886d0da87"]]},{"id":"630f5cbc6e4a1d01","type":"valloxtx","z":"b25784ff8a20bc53","description":"","x":880,"y":180,"wires":[["50e7f9af73938419","266318709cebb5b2"],["ba092ccca95b5175"]]},{"id":"50e7f9af73938419","type":"mqtt out","z":"b25784ff8a20bc53","name":"","topic":"Vallox.TX","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fab3eeb5b50ff694","x":1060,"y":180,"wires":[]},{"id":"140ad0148971e7ed","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":280,"wires":[["c00919e48f863780"]]},{"id":"c00919e48f863780","type":"function","z":"b25784ff8a20bc53","name":"set fan speed","func":"let value = msg.payload;\nlet message = {\n    request : 'SET',\n    variable:'FanSpeed',\n    value : value,\n}\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["6d5620518a1e27db"]]},{"id":"ae33477428a2130d","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":190,"y":320,"wires":[["c00919e48f863780"]]},{"id":"2396806f46d02d57","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":190,"y":360,"wires":[["c00919e48f863780"]]},{"id":"42498779100a4cec","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":190,"y":400,"wires":[["c00919e48f863780"]]},{"id":"f8b4b27a38c12823","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":190,"y":440,"wires":[["c00919e48f863780"]]},{"id":"26e355c02cb8a581","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":190,"y":480,"wires":[["c00919e48f863780"]]},{"id":"3e244dc1aeb6b967","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":190,"y":520,"wires":[[]]},{"id":"6f9599625701a0d8","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 8","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":190,"y":560,"wires":[["c00919e48f863780"]]},{"id":"ba092ccca95b5175","type":"debug","z":"b25784ff8a20bc53","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"6d5620518a1e27db","type":"vallox","z":"b25784ff8a20bc53","description":"Panel 1","receiver":"33","sendonnewdata":false,"x":700,"y":180,"wires":[["48e70d6b251b9777","132f5fe026bc64f8"],["630f5cbc6e4a1d01"],["758d5039273c611d"]]},{"id":"4a68835f7baecd0c","type":"debug","z":"b25784ff8a20bc53","name":"ok","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"2fe96892dfe1fd28","type":"http in","z":"b25784ff8a20bc53","name":"","url":"/vallox/panel1","method":"get","upload":false,"swaggerDoc":"","x":470,"y":80,"wires":[["6d5620518a1e27db"]]},{"id":"646fbe8c940969df","type":"http response","z":"b25784ff8a20bc53","name":"","statusCode":"","headers":{},"x":1010,"y":80,"wires":[]},{"id":"48e70d6b251b9777","type":"function","z":"b25784ff8a20bc53","name":"json","func":"msg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":80,"wires":[["646fbe8c940969df"]]},{"id":"758d5039273c611d","type":"debug","z":"b25784ff8a20bc53","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"b8fa45ca33dc9bd5","type":"inject","z":"b25784ff8a20bc53","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":40,"wires":[["6d5620518a1e27db"]]},{"id":"266318709cebb5b2","type":"debug","z":"b25784ff8a20bc53","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":140,"wires":[]},{"id":"132f5fe026bc64f8","type":"debug","z":"b25784ff8a20bc53","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"fab3eeb5b50ff694","type":"mqtt-broker","name":"","broker":"unimatrix.fritz.box","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]