examples/valloxtx.json
[{"id":"630f5cbc6e4a1d01","type":"valloxtx","z":"b25784ff8a20bc53","description":"","x":520,"y":260,"wires":[["50e7f9af73938419"],["0367b230628643e7"]]},{"id":"50e7f9af73938419","type":"mqtt out","z":"b25784ff8a20bc53","name":"","topic":"Vallox.TX","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fab3eeb5b50ff694","x":680,"y":240,"wires":[]},{"id":"0367b230628643e7","type":"debug","z":"b25784ff8a20bc53","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"140ad0148971e7ed","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":240,"wires":[["c00919e48f863780"]]},{"id":"c00919e48f863780","type":"function","z":"b25784ff8a20bc53","name":"set fan speed","func":"let fanSpeedMapping = [\n    0x01,\n    0x03,\n    0x07,\n    0x0F,\n    0x1F,\n    0x3F,\n    0x7F,\n    0xFF\n];\n\nlet value = fanSpeedMapping[msg.payload - 1];\nlet message = {\n    domain : 0x01, // always 1\n    sender : 0x20 + 2, // 2nd Panel\n    receiver : 0x10 + 1, // 1st mainboard\n    command : 0x29, // set fan speed\n    arg : value\n}\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["630f5cbc6e4a1d01"]]},{"id":"ae33477428a2130d","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":280,"wires":[["c00919e48f863780"]]},{"id":"2396806f46d02d57","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":320,"wires":[["c00919e48f863780"]]},{"id":"42498779100a4cec","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":110,"y":360,"wires":[["c00919e48f863780"]]},{"id":"f8b4b27a38c12823","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":110,"y":400,"wires":[["c00919e48f863780"]]},{"id":"26e355c02cb8a581","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":110,"y":440,"wires":[["c00919e48f863780"]]},{"id":"3e244dc1aeb6b967","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":110,"y":480,"wires":[[]]},{"id":"6f9599625701a0d8","type":"inject","z":"b25784ff8a20bc53","name":"FanSpeed 8","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":110,"y":520,"wires":[["c00919e48f863780"]]},{"id":"fab3eeb5b50ff694","type":"mqtt-broker","name":"","broker":"unimatrix.fritz.box","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]